body {
  text-align: center;
}

html {
  font-family: sans-serif;
}

.btnContainer {
  margin: 0 auto;
}

.myButton {
  display: inline;
  margin: 10px;
  margin-left: 100px;
  padding: 15px;
}

label,
input {
  display: block;
  margin: 20px auto;
  padding: 5px;
}

label {
  font-weight: bold;
}

.form-control {
  align-items: center;
  margin-left: 125px;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  font: inherit;
  background: #ffdac1;
  border: 2px solid #ff9900;
  cursor: pointer;
  color: black;
  padding: 0.75rem 1rem;
  border-radius: 50px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #ffb7b2;
  border-color: #a80041;
}

.student-item {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e2f0cb;
  margin: 20px auto;
  width: 70%;
  height: 60px;
  border-radius: 50px;
}
